


.App {
  text-align: center;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  min-height: 100vh;
  padding-top: 20px;
  box-shadow: 2px 2px 2px 2px black;
 
}

.app-header {
  
  font-style: italic;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  padding: 20px;
  border-radius: 20px;
  color: rgb(205, 5, 5);
  box-shadow: 2px 2px 2px 2px black;
  
  
}

.start-info-text {
  font-style: italic;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  padding: 20px;
  border-radius: 20px;
  color: rgb(205, 5, 5);
  box-shadow: 2px 2px 2px 2px black;
  
}

.welcome-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 30px;
  margin-top: 5vh;
  
  
}

.register-button, .info-button {
  padding: 20px 40px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  
}

.register-button:hover, .info-button:hover {
  background-color: #596164;
}


.register-button:active, .info-button:active {
  transform: translate3d(3px, 3px, 0px);
}

.dog-logo {
  position: absolute;
  top: 30px;
  right: 16px;
  border-radius: 50%;
  width: 10vh;
  box-shadow: 2px 2px 2px 2px gray;
  
}

.welcome-dog-logo {
  border-radius: 50%;
  width: 30vh;
  padding: 1vh;
  box-shadow: 2px 2px 2px 2px black;
  margin-top: 10vh;
}

.dogList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  padding: 1em;
  

}

.dogItem {
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-weight: bold;
  margin-top: 1em;
  color: white;

}

.dog-img {
  margin-top: 1em;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px black;
  width: 150px;
  height: 150px;

  
}

.name, .sex, .age, .breed, .chipnumber, .present {
  margin-top: 0.5em;
}


.owner, .phoneNumber {
  color: white;
  margin-top: 0.5em;
  
  
}




