


.App {
  text-align: center;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  min-height: 200vh;
  min-width: 65vh;
  padding-top: 30px;
  box-shadow: 2px 2px 2px 2px black;
 
}

.app-header {
  
  font-style: italic;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  padding: 20px;
  border-radius: 20px;
  color: rgb(205, 5, 5);
  box-shadow: 2px 2px 2px 2px black;
  
  
}

.start-info-text {
  font-style: italic;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  padding: 20px;
  border-radius: 20px;
  color: rgb(205, 5, 5);
  box-shadow: 2px 2px 2px 2px black;
  
}

.welcome-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 30px;
  margin-top: 5vh;
  
  
}

.register-button, .info-button {
  padding: 20px 40px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  
}


.register-button:active, .info-button:active {
  transform: translate3d(3px, 3px, 0px);
}

.dog-logo {
  position: absolute;
  top: 40px;
  right: 16px;
  border-radius: 50%;
  width: 10vh;
  box-shadow: 2px 2px 2px 2px gray;
  
}

.welcome-dog-logo {
  border-radius: 50%;
  width: 30vh;
  padding: 1vh;
  box-shadow: 2px 2px 2px 2px black;
  margin-top: 10vh;
}

.dogList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 0.5em;
  padding: 1em;
  
  

}

.dogItem {
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-weight: bold;
  margin-top: 1em;
  color: white;

}



.grid-text {
  color:#bdc2e8;
}

.dog-img {
  margin-top: 1em;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px black;
  width: 150px;
  height: 150px;

  
}

.dog-img:active {
  transform: translate3d(3px, 3px, 0px);
}

.name, .sex, .age, .breed, .chipnumber, .present {
  margin-top: 0.5em;
}


.owner, .phoneNumber {
  color: white;
  margin-top: 0.5em;
  
  
}

.register-header {
  font-style: italic;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  padding: 20px;
  border-radius: 20px;
  color: rgb(205, 5, 5);
  box-shadow: 2px 2px 2px 2px black;

}

.input-fields{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 0.5em; */
  padding: 1em;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  
  
}

.input-text-name, .input-text-sex, .input-text-age, .input-text-breed,
.input-text-chipnumber, .input-img, .input-text-present, .input-text-owner,
.input-text-phonenumber {

  border: solid 2px black;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
  

}

.submit-button {
  padding: 10px 20px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);

}

.submit-button:active {
  transform: translate3d(3px, 3px, 0px);

}

.new-dog-list {

  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  padding: 1em;
  font-size: 15px;

}

.new-dog-item {
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-weight: bold;
  margin-top: 1em;
  color: white;

}

.new-dog-img {
  margin-top: 1em;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px black;
  width: 150px;
  height: 150px;

  
}

.save-or-delete-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.register-buttons-homepage-dogpage-parent{
  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  
}


.save-button, .delete-button, .homepage, .dogpage {
  padding: 10px 20px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);

}

.homepage:active, .dogpage:active {
  transform: translate3d(3px, 3px, 0px);
}

.save-button:active, .delete-button:active {
  transform: translate3d(3px, 3px, 0px);
}

.select {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 2em;
  

}

.select-present, .search-name, .search-breed {
  padding: 5px 10px;
  border: solid 2px black;
  border-radius: 20px;
}

.info-buttons {
  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

.start-page, .register-page {
  padding: 10px 20px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.start-page:active, .register-page:active {
  transform: translate3d(3px, 3px, 0px);

}



.dog-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.dog {
  border: solid 2px black;
  border-radius: 20px;
  
}

.showdogbreed-parent {
  padding-top: 2em;
}

.showdog-breed {
  font-style: italic;
  font-size: calc(20px + 2vmin);
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  padding: 20px;
  border-radius: 20px;
  color: rgb(205, 5, 5);
  box-shadow: 2px 2px 2px 2px black;
}

.dogpage-button-parent {
  padding-top: 2em;
}

.backtodoginfopage-button {
  padding: 10px 20px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);

}
.backtodoginfopage-button:active {
  transform: translate3d(3px, 3px, 0px);
}



